
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





header{
    background: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    
    
    
}

.header-maindiv{
    display: flex;
    justify-content: space-between;
    padding: 0 228px;
}

.header-maindiv h3{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 2.82rem;
font-weight: 700;
}



.header-nav >ul{
    display: flex;
    gap: 60px;
   
}

.header-nav{
    display: flex;
    align-items: center;
    
}

.header-nav >ul li{
    list-style: none;
}

.header-nav >ul >li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 1.13rem;
font-weight: 500;
}

.banner-title-description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 80px;
}

.banner-title-description h1{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 3rem;
font-weight: 700;
margin-top: -10px;
}


.banner-title-description p{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
margin-top: -10px;
}

button{
    border-radius: 8px;
background: rgb(255, 144, 14);
width: 180px;
height: 3rem;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
border: none;
margin-top: 25px;
}

.banner-img{
   max-width: 1240px;
   margin: 0 auto;
   margin-top: 50px;
   
    
    
}

.banner-img >img{
    width: 100%;
}

/* header end here  */


/* section 1 start here  */


.section1{
    display: flex;
    gap: 60px;
    
}

.section1-img-container{
    display: grid;
    grid-template-columns: repeat(2, 342px);
    gap: 10px;
    border-radius: 8px;
    margin-top: 85px;
    padding-left: 180px;
    
    
}

.section1-description{
   margin-top: 315px;
}

/* section 1 end here  */